
@{
    ViewBag.Title = "CPtools";
}

<h1 class="text-center Bold">CPtools</h1>


<div class="row">
    <div class="col-xs-6 col-sm-4">
        <h2 class="text-center description">Inventory</h2>
        <input type="button" class="btn btn-primary btn-lg" title="Parse" value="Parse" onclick="location.href='@Url.Action("Parse","WebformConverter")'" />
    </div>
    <div class="col-xs-6 col-sm-4">
        Pick / Stock

    </div>
    <div class="col-xs-6 col-sm-4">
        Online Sales
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 jumbotron">
        Customer Service
    </div>
    <div class="col-xs-6 col-sm-4 jumbotron">
        EDI
    </div>
    <div class="col-xs-6 col-sm-4 jumbotron">
        Timeclock
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 jumbotron">
        Forecasting
    </div>
    <div class="col-xs-6 col-sm-4 jumbotron">
        Pick Verify
    </div>
    <div class="col-xs-6 col-sm-4 jumbotron">
        Order Tracking
    </div>
</div>

